@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'PT Sans', sans-serif; */
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);

    
}

.card{
    height: 25rem;
    width: 50rem;
}
.card h2{
    text-align: center;
    font-weight: bolder;
    font-size: 6rem;
    padding: 12px 0;
    color: grey;
}

.card textarea{
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 10px;
    height:15rem;
    width: 50rem;
    padding: 1rem;
    font-size: 1rem;
    outline: none;
    border-radius: 20px;
    margin-bottom: 1rem;
    border: none;
    
}
.card .row{
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.card .row button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    height: 30px;
    padding-left: 15px;
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.05);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
}

button:hover{
    cursor: pointer;
}

.card .row select{
    flex: 1;
    border: none;
    outline: none;
    border-radius: 12px;
    height: 30px;
    background: rgba(255, 255, 255, 0.05);
        box-shadow: 0 8px 50px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
    
    
}
@media screen and (max-width: 768px) {
    .card {
        max-width: 90%;
    }
    textarea{
        max-width: 90%;
    }
    body{
        margin-top: 2rem;
        align-items: start;
    }
    .card h2{
        font-size: 2rem;
    }
}